.ssh/
.bash_history
*.retry
*.idea
.DS_Store
*.log
secret.env

# terraform exclude
secret.tfvars
*.tfstate
*.tfstate.*
.terraform
*.tfstate.backup
.terraform.lock.hcl

# terragrunt
.terragrunt-cache

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json%